@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #02073e;
  margin: 0;
}

h2 {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -1px;
  font-weight: 500;
  color: #0f2137;
  margin: 0;
  text-align: left;
}

h3 {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.5px;
  font-weight: normal;
  color: #0f2137;
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 500;
  color: #0f2137;
  margin: 0;
  text-align: left;
}

p {
  font-size: 18px;
  line-height: 42px;
  letter-spacing: 0px;
  font-weight: normal;
  color: #02073e;
  margin: 0;
}

html,
body {
  font-family: "DM Sans", sans-serif;
}

.header,
.hero,
.features {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container,
.hero-container,
.features-container,
.features-header {
  padding-bottom: 100px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-self: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  gap: 40px;
}

nav ul li {
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0px;
  font-weight: 500;
  color: #0f2137;
}

nav ul li:nth-child(4) {
  color: #28dcb2;
  position: relative;
  font-weight: bold;
}

nav ul li:nth-child(4)::after {
  content: "";
  position: absolute;
  background-color: transparent;
  z-index: -1;
  background-image: url("../images/underline.svg");
  background-repeat: no-repeat;
  height: 6px;
  width: 82px;
  bottom: -3px;
  left: 6px;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 120px;
  width: inherit;
  justify-self: center;
}

.hero-header {
  display: grid;
  gap: 33px;
  align-items: center;
  align-content: center;
  width: 507px;
}

.hero-image {
  background-image: url("../images/mask-group.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 503.32px;
  min-height: 628px;
  position: relative;
}

.hero-image::before {
  content: "";
  position: absolute;
  background-color: transparent;
  z-index: -1;
  background-image: url("../images/BG.svg");
  background-repeat: no-repeat;
  height: 648px;
  width: 525px;
  left: 4%;
  bottom: 0%;
}

.hero-image::after {
  content: "";
  position: absolute;
  background-color: transparent;
  z-index: 1;
  background-image: url("../images/pattern.svg");
  background-repeat: no-repeat;
  height: 460.07px;
  width: 628.56px;
  left: -14%;
  bottom: 14%;
}

.hero-btn {
  height: 60px;
  width: 171px;
  color: #ffffff;
  background-color: #28ddb2;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  line-height: 10px;
  letter-spacing: 0px;
  font-weight: bold;
  cursor: pointer;
}

.hero-message-ghost-icons {
  display: grid;
  grid-template-columns: repeat(3, 123px);
  gap: 10px;
}

.pattern {
  position: absolute;
  background-color: transparent;
  z-index: -2;
  background-image: url("../images/pattern-cross.svg");
}

.decor-1 {
  height: 346.17px;
  width: 302px;
  left: 68%;
  bottom: 53%;
}

.features-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-header p {
  text-align: center;
  color: #0f2137;
  font-size: 16px;
  line-height: 35px;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px 60px;
  grid-template-rows: repeat(3, auto);
  /* margin: 0 300px; */
}

.feature {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.feature img {
  width: 90px;
  height: 90px;
  box-shadow: 0px 8px 24px rgba(53, 95, 158, 0.1);
  border-radius: 50%;
  object-fit: scale-down;
  object-position: 50% 50%;
}

.features-container .feature:nth-child(2) img {
  object-position: 64% 50%;
}

.feature p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  font-weight: normal;
  color: #343d48;
}

.stats {
  background-color: #f9fafc;
  padding: 100px 0;
  width: 100%;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  max-width: 1170px;
  gap: 100px;
  margin: 0 auto;
  justify-items: center;
}

.stats-header {
  display: grid;
  gap: 30px;
  align-items: center;
  align-content: center;
  width: 511px;
}

.stats-header p {
  font-size: 17px;
}

.stats-header ul {
  list-style: none;
  margin: 0;
}
.stats-header ul li {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 45px;
  letter-spacing: 0;
  font-weight: 400;
  color: #02073e;
}

.stats-header ul li::before {
  content: "";
  background-image: url("../images/tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 13px;
  width: 20px;
  height: 20px;
}

.stats-btn {
  color: #4f96ff;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  line-height: 42px;
  letter-spacing: 0px;
  gap: 8px;
}

.stats-numbers {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 320px 320px;
  gap: 40px;
  justify-content: end;
  align-content: center;
  /* grid-column: span 2; */
  align-items: start;
}

.stat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 320px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 25px 100px rgba(69, 88, 157, 0.08);
  gap: 30px;
}

.stat:nth-child(1),
.stat:nth-child(3) {
  align-self: start;
  margin-top: 50px;
}

.stat:nth-child(1) {
  color: #28d1dc;
}

.stat:nth-child(2) {
  color: #ff753a;
}

.stat:nth-child(3) {
  color: #fa578e;
}

.stat:nth-child(4) {
  color: #28dcb2;
}

.stats-numbers span {
  font-size: 72px;
  line-height: 55px;
  font-weight: bold;
  letter-spacing: -1px;
}

.stats-numbers p {
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.2px;
  font-weight: 400;
  color: #0f2137;
  text-align: center;
  width: 170px;
  opacity: 0.7;
}
